#bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#bandname {
    color: white;
    font-size: 72px;
    font-family: Futura;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 12px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}